.header{
    display: flex;
    justify-content: space-between;
}

.header__left{
    display: flex;
    align-items: center;
}
.header__left > img {
    margin: 30px;
    margin-left: 120px;
}
.header__left > h3 {
    margin: 0px 10px;
    color: #9e9aa7;
}
.header__left > h3:hover {
    color: black;
    cursor: pointer;
}
.header__right{
    display: flex;
}

@media(max-width:375px){
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__left{
        flex-direction: column;
        align-items: center;
    }
}